.mainSection {
    box-shadow: rgb(0 0 0 / 20%) 0px 0px 10px;
    border-radius: 5px;
    padding: 5px 0px;
    background-color: var(--background-primary);
}

@media screen and (min-width: 1000px) {
    .mainSection {
        margin: 10px 0px;
    }
}
